{
  // HOMEPath
  homePath: "",

  // GitHub 認証情報
  githubPat: "",
  
  // Figma 認証情報
  figmaApiKey: "",
  
  // Slack 認証情報
  slackBotToken: "",
  slackTeamId: "",
  
  // AWS 設定
  fastmcpLogLevel: "ERROR",
}